body {
  background-color: #111111
}
#editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 450px;
    z-index: 10;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
}
#minimap {
  position: absolute;
  top: 0;
  right: 0;
  width: 200;
  height: 200;
  border: 5px solid black;
  background-color: #001900;
}
#player-armor {
  position: absolute;
  top: 210;
  right: 0;
  width: 200;
  height: 20;
  border: 5px solid black;
  background-color: #001900;
}
#player-shields {
  position: absolute;
  top: 230;
  right: 0;
  width: 200;
  height: 20;
  border: 5px solid black;
  background-color: #001900;
}
#fps {
  position: absolute;
  top: 250;
  right: 0;
  width: 200;
  height: 20;
  border: 5px solid black;
  background-color: #001900;
  color: yellow;
}
#objectivebar {
  position: absolute;
  top: 270;
  right: 0;
  width: 200;
  border: 5px solid black;
  background-color: #001900;
  color: yellow;
}
#messagelog {
  pointer-events: none;
  position: absolute;
  top: 20;
  left: 0;
  bottom: 0;
  right: 30;
  font-size: 1em;
  color: white;
}
#errorbar, #modalbar {
  position: absolute;
  top: 100;
  left: 660px;
  bottom: 100;
  right: 30;
  text-align: center;
  font-size: 2em;
}
#errorbar {
  background-color: #ff99cc;
}
#modalbar {
  background-color: #ddff99;
  color: #2222aa;
}
.running-code{
  position:absolute;
  background:rgba(10,100,200,0.5);
  z-index:40
}

/* Styles for display backgrounds */
.grid-background{
  background-color:#002200;
  background-image: linear-gradient(rgba(1,140,1,1) 3px, transparent 3px),
    linear-gradient(90deg, rgba(1,130,1,1) 2px, transparent 2px),
    linear-gradient(rgba(1,80,1,1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(1,80,1,1) 1px, transparent 1px),
    linear-gradient(rgba(20,40,10,1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(20,40,10,1) 1px, transparent 1px);
  background-size:500px 500px, 500px 500px, 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-3px -3px, -2px -2px, -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.space-background {
  background-image: url(/images/857-tileable-classic-nebula-space-patterns/2.jpg);
  background-color: #010101;
  background-size: 1000px;
}
